[alias]
    l = log
    b = branch
    s = status
    d = diff
    co = checkout
    cp = cherry-pick
    cpc = cherry-pick --continue
    dt = difftool
    rbc = rebase --continue
    cpx = cherry-pick -x # adds automatic comment to commit message with the original commit hash
    pcr = format-patch

    patch-create = format-patch
    create-patch = format-patch

    wip = "!f() { git commit -m \"[WIP] $*\"; }; f"
    fixup = "!f() { git commit -m \"[WIP] fixup $*\"; }; f"

    # showing tracked only files
    sc = "!git status -uno; echo '\n\n############# not showing untracked!!! #############\n'"

    # pretty log
    pl = "!tcols=$((($(tput cols) - 14))); wmv=${tcols},0,42; \
        git log --pretty=format:'%C(yellow)%h%Creset (%C(green)%<(17)%an @ %as%C(reset)) %w('\"$wmv\"')%s%C(auto)%d%Creset'"

    pfl = "!tcols=$((($(tput cols) - 14))); wmv=${tcols},0,42; \
        git log --pretty=format:'%C(yellow)%h%Creset (%C(green)%<(17)%an @ %as%C(reset)) %w('\"$wmv\"')%s%C(auto)%d%n\t%b%Creset'"
